.wrapper {
    margin-top: 32px;
}

.sofas {
    display: none;
}

.sofas a{
    font-size: 12px;
    color: #A0AEBD;
    text-decoration: none;
}

.sum-products {
    display: none;
}

@media only screen and (max-width: 992px) {
    .container {
        max-width: 900px;
    }  
}

@media only screen and (max-width: 768px) {
    .left-menu {
        display: none;
    }

    .wrapper {
        margin-top: 24px;
    }

    .sofas {
        display: block;
    }

    .divider {
        height: 1px;
        background-color: #EAEFF9;
        margin: 22px 0 22px 0;
    }
}

@media only screen and (max-width: 640px) {
    .sum-products {
        display: block;
        font-size: 12px;
        color: #A0AEBD;
        text-decoration: none;
        margin-top: 30px;
        margin-left: 20px;
    }

    .sum-products span {
        color: #F58A8A;
        text-decoration: underline;
        letter-spacing: 0px;
    }
}

@media only screen and (max-width: 576px) {
    .sum-products {
        margin-top: 10px;
    }  
}

@media only screen and (max-width: 480px) {
    .container {
        max-width: 460px;
    }  
}

@media only screen and (max-width: 400px) {
    .container {
        max-width: 380px;
    }  
}